body {
  font-family: "Open Sans", sans-serif;
  background: #141414;
}

.row {
  /*display: flex;
	flex-wrap: nowrap*/
  /*overflow: hidden;*/
  scroll-behavior: smooth;
}

.flexwrap {
  display: flex;
  flex-wrap: nowrap;
}

/*#dflex {
	display: inline-block;
}*/

.col {
  box-sizing: border-box;
  margin-bottom: 5px;
}

h3 {
  font-size: 20px;
  display: inline-block;
  margin-left: 4px;
}

a {
  color: whitesmoke;
}

a:link,
a:visited {
  text-decoration: none;
  color: whitesmoke;
}

.film {
  min-width: 15%;
  object-fit: cover;
  transition: transform 0.2s; /* Animation */
}

.film:hover {
  transform: scale(1.5);
}

#overflow-img {
  display: -50%;
}

/*Twitter*/
.fa-twitter {
  color: #1da1f2;
  filter: grayscale(50%);
}
/*Facebook*/
.fa-facebook-square {
  color: #3b5998;
  filter: grayscale(50%);
}
/*instagram*/
.fa-instagram {
  color: #e1306c;
  filter: grayscale(50%);
}
/*YouTube*/
.fa-youtube {
  color: #ff0000;
  filter: grayscale(50%);
}
/*LINE*/
.fa-line {
  color: #00c300;
  filter: grayscale(50%);
}
