:root {
  --netflix-bg: #141414;
  --netflix-logo-text: #d1111c;
}

.navbar {
  background-color: var(--netflix-bg);
}
body {
  background-color: white;
}

.navbar .disabled a,
.navbar .disabled {
  color: #686868;
}
.navbar .disabled a:hover,
.navbar .disabled a:focus,
.navbar .disabled:hover,
.navbar .disabled:focus {
  color: white;
  opacity: 80%;
}

.navbar a,
.navbar .active a,
.navbar .active {
  color: white;
}

#navbarUserMenu {
  position: absolute;
  left: -100px;
  top: 40px;
}
.dropdown-toggle::after {
  position: absolute;
  top: 20px;
  right: -16px;
  bottom: 45%;
}

hr {
  color: silver;
  border: 1px solid silver;
}

.btn-silver {
  background: #efefef;
  border-bottom: 1px solid grey;
}

.btn-silver:hover,
.btn-silver:focus {
  background: #fff;
  border: 1px solid grey;
}

#paypal,
#ultraHD {
  filter: brightness(0%);
}

.setting-left {
  text-align: end;
}

.setting-text-secondary {
  color: #b3b3b3;
}
